.photo-grid {
  box-sizing: border-box;
  margin: 47px auto 67px auto;
  min-height: 35vh;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .photo-grid {
    margin-top: 37px;
    margin-bottom: 48px;
  }
}