.profile {
  /*border: 2px solid rgb(21, 151, 51);*/
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  column-gap: 28px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .profile {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 120px 1fr;
    grid-template-rows: 2 auto;
    row-gap: 36px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    grid-template-columns: 282px;
    grid-template-rows: 3 auto;
    row-gap: 22px;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}