.btn-add {
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: transparent;
  margin: auto;
  transition: 0.3s ease-in;
}

.btn-add:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .btn-add {
    width: 282px;
    height: 50px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 500px) {
  .btn-add {
    width: 282px;
    height: 50px;
    margin-left: 0;
    margin-top: 12px;
  }
}