.popup__btn-close {
  /*position: absolute;*/
  margin-left: 5px;
  margin-top: -380px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in;
}

.popup__btn-close:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 530px) {
  .popup__btn-close {
    width: 20px;
    height: 20px;
    margin-left: -25px;
    margin-top: -370px;
  }
}