.form-edit__input {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  width: 358px;
  margin-top: 30px;
  padding-bottom: 11px;
  border: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-edit__input:focus {
  outline: 2px solid rgba(60, 93, 239, 0.5);
  border-radius: 2px;
}

@media screen and (max-width: 530px) {
  .form-edit__input {
  width: 238px;
 }
}